.ship ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.Board1 {
	margin-left: 35%;
	width: 200%;
}

.Board {
	margin-left: 5%;
	width: 200%;
}



